@mixin flex($direction: null, $justify: null, $align: null, $gap: null) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin font(
  $weight: null,
  $size: null,
  $family: null,
  $letter-spacing: null,
  $line-height: null
) {
  @if $weight {
    font-weight: $weight;
  }
  @if $size {
    font-size: $size;
  }
  @if $family {
    font-family: $family;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
  @if $line-height {
    line-height: $line-height;
  }
}
