// Colors
$button: hsl(360, 100%, 68%);
$button-hover: hsl(0, 100%, 76%);
$titles: hsl(230, 29%, 20%);
$texts: hsl(230, 11%, 40%);
$texts-complement: hsl(231, 7%, 65%);
$complement: hsl(207, 33%, 95%);
$background: hsl(0, 100%, 100%);
$icons: hsl(210, 2%, 20%);

$footer-text: $texts;
$footer-links: $titles;
$footer-links-hover: $button;
$footer-background: $background;
