@import "./variables";
@import "./mixins";
@import "./mixins_breakpoints";

:root {
  font-size: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;

  text-decoration: none;
  list-style: none;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

body {
  @include font(400, 1.8rem, Barlow);
}

#root {
  @include flex(column, null, center);
  position: relative;

  overflow: hidden;
}

@include response-above(md) {
  :root {
    font-size: 62.5%;
  }
}
