@import "variables";
@import "mixins";
@import "mixins_breakpoints";
@import "mixins-cross-browser";

@import "header/header";

@import "hero/hero";

@import "footer/footer";

.landing__container {
  position: relative;

  width: 100%;
  padding: 0 3.2rem;

  z-index: 2;
}
