.attribution {
  position: fixed;
  bottom: 0;
  @include flex(column, center, center, 0.8rem);

  padding: 1.6rem 0;
  width: 100%;

  font-size: 1.6rem;
  background: $footer-background;
  color: $footer-text;

  p > a {
    font-weight: bold;
    color: $footer-links;

    @include transition(all 0.2s);

    &:hover {
      font-size: 2rem;
      color: $footer-links-hover;
    }
  }

  @include response-above(md) {
    flex-direction: row;
  }
}
