.hero__container {
  // margin-top: 6.4rem;

  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 42.5rem;

    background: $complement;
    z-index: -1;

    @include border-radius(0 0 0 6.4rem);
  }

  .hero__image {
    width: 160%;
    margin-left: -2.2rem;
  }
}

@include response-above(md) {
  .hero__container {
    .hero__image {
      width: 100%;
      margin-left: 32%;
    }
  }
}

@include response-above(lg) {
  .hero__container {
    @include flex(null, center);

    .hero__image {
      width: 80%;
      margin-left: 0;
    }
  }
}

@include response-above(xl) {
  .hero__container {
    .hero__image {
      width: 120%;
      margin-left: 24%;
    }
  }
}
